*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.38;
}
body {
  min-width: 320px;
}
select {
  border-radius: 0 !important;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #0366d6;
  &:hover {
    text-decoration: underline;
  }
}
svg {
  display: block;
  overflow: visible;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 60%,#fff),linear-gradient(70deg,#dbedff 32%,#ebfff0);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.item-50 {
  flex: none;
  width: 50%;
}
.hidden {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.btn {
  font-weight: 600;
  line-height: 22px;
  position: relative;
  display: inline-block;
  min-width: 200px;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 2px !important;
}
.btn--grey {
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  &:hover {
    border-color: rgba(27,31,35,.35);
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    background-position: -.5em;
  }
}
.btn--green {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  &:hover {
    border-color: rgba(27,31,35,.5);
    background-color: #269f42;
    background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
    background-position: -.5em;
  }
}
