<!-- begin map -->
<section class="map" id="map"></section>
<!-- end   map -->

<!-- begin popup -->
<div class="popup" id="popup">
  <header class="popup-header">
    <div class="popup-header__baloon">
      <svg viewBox="0 0 512 512">
        <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5
            c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021
            C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333
            s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z"/>
      </svg>
    </div>
    <a href="#" class="popup-header__title">Невский пр., 78, Санкт-Петербург, 191025</a>
    <div class="popup-header__close">
      <svg viewBox="0 0 348.333 348.334">
        <path d="M336.559,68.611L231.016,174.165l105.543,105.549c15.699,15.705,15.699,41.145,0,56.85
          c-7.844,7.844-18.128,11.769-28.407,11.769c-10.296,0-20.581-3.919-28.419-11.769L174.167,231.003L68.609,336.563
          c-7.843,7.844-18.128,11.769-28.416,11.769c-10.285,0-20.563-3.919-28.413-11.769c-15.699-15.698-15.699-41.139,0-56.85
          l105.54-105.549L11.774,68.611c-15.699-15.699-15.699-41.145,0-56.844c15.696-15.687,41.127-15.687,56.829,0l105.563,105.554
          L279.721,11.767c15.705-15.687,41.139-15.687,56.832,0C352.258,27.466,352.258,52.912,336.559,68.611z"/>
      </svg>
    </div>
  </header>

  <!-- begin reviews -->
  <div class="reviews">
    <div class="reviews-item">
      <header class="reviews-item__header">
        <span class="reviews-item__name">Svetlana</span>
        <span class="reviews-item__place">Шоколадница</span>
        <span class="reviews-item__time">2018-12-02</span>
      </header>
      <div class="reviews-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reiciendis!</div>
    </div>
    <div class="reviews-item">
      <header class="reviews-item__header">
        <span class="reviews-item__name">Odinokun</span>
        <span class="reviews-item__place">Ocean Plaza</span>
        <span class="reviews-item__time">2018-12-02</span>
      </header>
      <div class="reviews-item__text">Lorem ipsum dolor sit amet,  ipsum dolor sit amet, consectetur adipisicing elit. Dolore, reiciendis!</div>
    </div>
  </div>
  <!-- end reviews -->

  <!-- begin reviews-form__wrap -->
  <div class="reviews-form__wrap">
    <h2 class="reviews-form__title">Ваш отзыв</h2>
    <form class="reviews-form">
      <input name="name" placeholder="Ваше имя">
      <input name="place" placeholder="Укажите место">
      <textarea class="textarea" name="comment" placeholder="Поделитесь впечатлениями"></textarea>
      <button class="reviews-form__btn">Добавить</button>
    </form>
  </div>
  <!-- end reviews-form__wrap -->
</div>
<!-- end   popup -->
