{{#each reviewsList}}
  <!-- begin reviews-item -->
  <div class="reviews-item" data-id="{{ id }}">
    <header class="reviews-item__header">
      <span class="reviews-item__name">{{ name }}</span>
      <span class="reviews-item__place">{{ place }}</span>
      <span class="reviews-item__time">2018-12-06</span>
    </header>
    <div class="reviews-item__text">{{ review }}</div>
  </div>
  <!-- end reviews-item -->
{{/each}}
